a[href*="wikipedia.org"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://wikipedia.org/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
a[href*="twitter.com"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://twitter.com/favicon.ico");
	background-size: cover;
	vertical-align: text-bottom;
	display: inline-block;
}
a[href*="twitch.tv"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://twitch.tv/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
a[href*="steamcommunity.com"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://steamcommunity.com/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
a[href*="mstdn.social"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://mstdn.social/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
a[href*="last.fm"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://last.fm/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
a[href*="github.com"]::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url("https://github.com/favicon.ico");
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
