---
---

@mixin favicon($url) {
	content: "";
	width: 1em;
	height: 1em;
	margin-right: .1em;
	background-image: url($url);
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;	
}
.no-favicon {
  a[href*="wikipedia.org"]:not(&)::before {@include favicon("https://wikipedia.org/favicon.ico");}
  a[href*="twitter.com"]:not(&)::before {@include favicon("https://twitter.com/favicon.ico");}
  a[href*="twitch.tv"]:not(&)::before {@include favicon("https://twitch.tv/favicon.ico");}
  a[href*="steamcommunity.com"]:not(&)::before {@include favicon("https://steamcommunity.com/favicon.ico");}
  a[href*="mstdn.social"]:not(&)::before {@include favicon("https://mstdn.social/favicon.ico");}
  a[href*="last.fm"]:not(&)::before {@include favicon("https://last.fm/favicon.ico");}
  a[href*="github.com"]:not(&)::before {@include favicon("https://github.com/favicon.ico");}
  a[href*="keybase.io"]:not(&)::before {@include favicon("https://keybase.io/favicon.ico");}
  a.pleroma:not(&)::before {@include favicon("https://pleroma.social/images/pleroma_logo_vector_bg_32-0291df67.png");}
}
