html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  line-height: 1.2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
header, .clearfix {overflow: auto;}
#accounts {
  display: flex;
  flex-flow: row wrap;
  gap: 16px 48px;
  margin: 0 24px;
  justify-content: center;
}
#accounts a {
  width: 72px;
  text-align: center;
}
#accounts img {
  margin: 0 auto;
  display: block;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
table {
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table td {
  border-left: 1px solid #888;
  padding: 8px;
  vertical-align: baseline;
}
table td:first-child {border-left: none;}
.no-marker {list-style: none;}
.float-left {float: left;}
.float-right {float: right;}
figure {
  border: 1px solid #888;
  margin: 1em 20px;
  max-width: 230px;
  padding: 4px;
}
figure.noborder {
  border: none;
}
figure.maxwidth {
  max-width: none;
}
figcaption {
  font-size: 12px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main > * {
  padding: 8px;
}
article {
  flex: 1 0 auto;
}
article img {
  max-width: 100%;
}
nav, header {
  border-bottom: 1px solid #888;
}
footer {
  border-top: 1px solid #888;
  flex-shrink: 0;
  text-align: center;
}

@media (orientation: portrait) {
  #home-table td {
    border-left: none;
    display: block;
    width: unset;
  }
  #home-table td:first-child {
    border-bottom: 3px solid #888;
  }
}

@media (prefers-color-scheme: dark) {
	html {background-color: #181a1b !important;}
	body, input, textarea, select, button {
		background-color: #181a1b;
		border-color: #736b5e;
		color: #e8e6e3;
	}
	a {color: #3391ff;}
}
