html, body {padding: 0;margin: 0;height: 100%;width:100%;}
body {font-family: Arial, sans-serif;}
#main-container {
	display: inline-block;
	line-height: 1.2;
	margin-left: 30%;
	margin-right: 30%;
	padding: 8px;
	width: calc(40% - 16px);
}
#page-footer {
	position: absolute;
	left: 30%;
	right: 30%;
	bottom: 0;
	padding: 8px;
}
.centered-text {text-align: center;}

@media (prefers-color-scheme: dark) {
	html {background-color: #181a1b !important;}
	html, body, input, textarea, select, button {background-color: #181a1b;}
	html, body, input, textarea, select, button {
		border-color: #736b5e;
		color: #e8e6e3;
	}
	a {color: #3391ff;}
}
