@import url("favicons.css");
:root {
	--site-width: 50%;
	--container-padding: 8px;
	--margin-width: calc((100% - var(--site-width))/2);
	--page-line-height: 1.2;
}
html, body {padding: 0;margin: 0;height: 100%;width:100%;}
body {font-family: Arial, sans-serif;}
#content {line-height: var(--page-line-height);}
#content, #page-footer {padding: var(--container-padding);}
@media (orientation: landscape) {
	#main-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	#content {
		flex: 1 0 auto;
		margin-left: var(--margin-width);
		margin-right: var(--margin-width);
		width: calc(var(--site-width) - (var(--container-padding)*2));
	}
	#page-footer {
		flex-shrink: 0;
		margin-left: var(--margin-width);
		margin-right: var(--margin-width);
	}
}
.float-right {float: right;}
.clearfix {overflow: auto;}
.centered-text {text-align: center;}
.right-text {text-align: right;}

@media (prefers-color-scheme: dark) {
	html {background-color: #181a1b !important;}
	body, input, textarea, select, button {
		background-color: #181a1b;
		border-color: #736b5e;
		color: #e8e6e3;
	}
	a {color: #3391ff;}
}
