<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% unless page.url == "/" %}{{ page.title }} - {% endunless %}{{ site.title }}</title>
  {%- feed_meta -%}
  <link rel="stylesheet" href="/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/shareon@1/dist/shareon.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/shareon@1/dist/shareon.min.js" type="text/javascript"></script>
  <link rel="icon" href="/avatar.png" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>
