---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dni – may's website</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/avatar.png" />
    <link rel="canonical" href="https://ezist.github.io/dni/" />
  </head>
  <body>
    <div id="main-container">
      {% include nav.html %}
      <div id="content">
        <header class="clearfix">
          <h1>dni</h1>
          <p>uh oh</p>
        </header>
        <hr />
        <p>
          So I know a lot of the people who might be categorized here will just ignore this,
          but it's still useful to have for everybody that isn't so they know where I draw
          the lines.
        </p>
        <b>Do not interact if you (are a/an):</b>
        <ul>
          <li>zoophile/MAP</li>
          <li>racist/sexist/homophobic/transphobic</li>
          <li>use 4chan/kiwifarms or sites similar to those</li>
          <li>promote toxic behavior</li>
          <li>anti-furry</li>
        </ul>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
