<!DOCTYPE html>
<html>
  {%- include head.html -%}
  <body>
    <div id="main-container">
      {%- include nav.html -%}
      <div id="content">
        <header class="clearfix">
          {%- if page.headerimg -%}
          <img class="float-right" src="{{ page.headerimg }}" height="125" loading="eager" />
          {%- endif -%}
          <h1>{{ page.title }}</h1>
          <p>{{ page.excerpt }}</p>
        </header>
        <hr />
        {{- content | extlinks -}}
        {%- unless page.url == "/404.html" -%}
        <div id="share" class="right-text">
          <noscript>Thank you for not using JavaScript. :clap:<br /></noscript>
          <div class="shareon" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}">
            <button class="mastodon"></button>
            <button class="reddit"></button>
          </div>
        </div>
        {%- endunless -%}
      </div>
      {%- include footer.html -%}
    </div>
    {%- include corner.html -%}
  </body>
</html>
