<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="icon" href="/avatar.png" />
		<link rel="canonical" href="{{ page.url }}" />
	</head>
	<body>
		<div id="main-container">
			<div id="content">
				<div class="clearfix">
					<img class="float-right" src="{{ author.photo }}" width="125" height="125" alt="Avatar for {{ author.name }}" />
					<h1>{{ page.title }}</h1>
					<p>by <a href="{{ author.url }}">{{ author.name }}</a> on {% page.date | date: "%Y-%m-%d" %}</p>
				</div>
				<hr />
				{{ content }}
			</div>
			<div id="page-footer" class="centered-text">
				<hr />
				<a href="https://unlicense.org/">unlicensed</a> {% site.time | date: "%Y" %}
			</div>
		</div>
	</body>
</html>
